/* adding some changes to css by @aliwi299 */
/*importing the font*/
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
:root {


    /* --primary: #ef8f22 !important; */
    --primaryHover: #fca241 !important;
    --primaryTransparent : rgba(239, 143, 34 , 0.5)!important;
    /* --secondary: #980A09 !important; */
    --secondaryHover :   #780807 !important;
    --white: #ffffff !important;
    --black: #000 !important;
    --mainTrans: 0.5s all ease !important;
    --font-family :  'Cairo', sans-serif !important;
}

@font-face {
	font-family: 'FontAwesome';
	src: url('../font-awesome/fonts/fontawesome-webfonte0a5.eot?v=4.3.0');
	src: url('../font-awesome/fonts/fontawesome-webfontd41d.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../font-awesome/fonts/fontawesome-webfonte0a5.html?v=4.3.0') format('woff2'), url('../font-awesome/fonts/fontawesome-webfonte0a5.woff?v=4.3.0') format('woff'), url('../font-awesome/fonts/fontawesome-webfonte0a5.ttf?v=4.3.0') format('truetype'), url('../font-awesome/fonts/fontawesome-webfonte0a5.svg?v=4.3.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
html, body {

	font-weight: 300;
	height: 100%;
	width: 100%;
	line-height: 24px;
	font-size: 16px;
	color: #666666;
	background-color: var(--white);
}

/*adding fonts to these elements*/
body{
     font-family: var(--font-family);
}
button, input, optgroup, select, textarea , label{

    font-family: var(--font-family);
}

h1, h2, h3, h4, h5, h6, a, span, p, strong{
       font-family:  var(--font-family);
}
/*
Link Styling */

a, a:hover, a:active, a:visited, a:link {
	outline: none;
	color:var(--primary);
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	text-decoration: none;
}
 a {
    font-size:16px;
    text-transform: uppercase;
	color:var(--primary);

	letter-spacing:0px;
}
/* Headings */

h1 {

	font-size:40px;
	font-weight:600;
	margin:0 0 10px 0;
	text-transform: uppercase;
	color: var(--white);
}
h2 {

	font-size:48px;
	margin: 0 0 10px 0;
	text-transform: uppercase;
	color: var(--black);
	font-weight: 600;
}
h2 span {
	margin: 0 0 0 0;

	font-size:40px;
	color: var(--primary);
	font-weight:400;
	/*line-height:35px;*/
	text-transform: capitalize;
	display:block;
}
h3 {
	margin: 0 0 0 0;

	font-size:30px;
	color: var(--black);
	font-weight:400;
	line-height:45px;
	text-transform: capitalize;
}
h4 {
	color:var(--black);

    font-size: 24px;
    font-weight: 400;
    margin: 0 0 10px;
    padding: 0;
    text-transform:capitalize;
}
h5 {
	margin: 0 0 0 0;

	font-size:16px;
	color: var(--black);
	font-weight: 700;
}
h6 {
	margin: 0 0 10px 0;
	padding: 0 0 0 0;

	font-size:14px;
	color: var(--white);
	font-weight: 400;
	text-transform: uppercase;
}
hr {
	padding: 0 0 0 0;
	margin:10px 0;
	display:inline-block;
	width:135px;
	height:1px;
	background:var(--primary);
	border: 0;
}
hr.special {
	padding: 0 0 0 0;
	margin: 20px 0 0 0;
	border: 0;
	height: 34px;
	background: url(../img/hr-spec.html) no-repeat center center;
}
.medium-txt {
	padding: 10px 10%;
	font-size: 24px;
	line-height: 36px;
	text-align: center;
	font-weight: 300;
	font-style: italic;
	color: #333333;
}
.color {
	color: #1e9fb4;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	width: 100%;
}
p {

	font-size: 16px;
	font-weight: 400;
	line-height:30px;
	color: #666666;
	margin-bottom:30px;
}
/* animation styles */

.animated {
	visibility: hidden;
}
.visible {
	visibility: visible;
}
/* Button Styles */

.button-large, .button-large:focus, .button-large:hover {
	padding: 17px 25px;
	margin: 25px 0 20px 0;

	font-size: 24px;
	color: var(--white);
	font-weight: 700;
	background: #f20707;
	display: inline-table;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
}
/* Lists */
li {
	list-style: none;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
.icon-list {
	padding: 0 0 0 15px;
	margin: 0 0 0 0;
	list-style: none;
}
.icon-list li {
	padding: 10px 0;
	margin: 0 0 0 0;
}
.icon-list i {
	padding-right: 10px;
	color: #1e9fb4;
	font-size: 18px;
}
/* Inner Page Main Content Area */

.inner-main-cont-area {
	padding: 0 0 80px 0;
	margin: 0 0 0 0;
	background: url(../img/sky-bottom.html) no-repeat bottom center;
	background-size: cover;
}
/* ==================================================== */
/* 02. Preloader Content Styles                         */
/* ==================================================== */

#mask {
	background-color:var(--white);
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 100000;
}
#loader {
	background-image: url(../img/loader.gif);
	background-position: center center;
	background-repeat: no-repeat;
	height: 200px;
	left: 50%;
	margin: -100px 0 0 -100px;
	position: absolute;
	top: 50%;
	width: 200px;
}
/* ==================================================== */
/* 03. Header Content Styles                            */
/* ==================================================== */

.header-area {
	left: 0;
    margin: 0;
    padding: 35px 0;
    position: fixed;
    transition: all 0.5s ease 0s;
    width: 100%;
    z-index: 9;
}
.header-area.navbar-fixed-top {
	position: fixed;
	padding: 20px 0;
	background: rgba(0,0,0,0.6);
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.header-area.navbar-fixed-top .call-today {
	display:none;
}
.header-area.navbar-fixed-top .header-right-sec {
    margin:5px 0 0;
	padding:3px 0 0 0;
}
.header-area.navbar-fixed-top .header-right-sec .nav-area li a {
	font-size:14px;
}
.header-area.navbar-fixed-top .logo-sec {
    padding: 0;
}
.header-area.navbar-fixed-top .logo-sec img {
    height: 40px;
	transition: all 0.5s ease 0s;
}
.header-top {
	margin: 0 0 0 0;
	padding: 25px 0;
	background-color: rgba(255, 255, 253, 0.4);
	color: rgba(255, 255, 253, 0.4);
}
.logo-sec {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	float: left;
}
.logo-sec img {
	transition: all 0.5s ease 0s;
}
.header-right-sec {
	margin: 0 0 0 0;
	padding:20px 0 0 0;
	float: right;
	transition: all 0.5s ease 0s;
}
.nav-area {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.nav-area ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.nav-area li {
	text-decoration: none;
	display: inline-table;
	padding: 0 0 0 20px;
}
.nav-area li.active, .nav-area li:hover a,.nav-area li.active a {
	color: var(--primary);
	text-decoration:underline;
}
.nav-area li a,.sidebar-nav li a {

    text-decoration: none;
    color: var(--white) !important;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    font-weight: 400;
    text-decoration: none !important;
    letter-spacing: normal;
}


/**************drop Down******************/
.nav-area li:hover .sub-menu {
    display: block;
}
.nav-area li .sub-menu li {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
}
.nav-area li .sub-menu li:hover a ,.nav-area li .sub-menu li.active {
	background:#cdaa71;
    transition: all 0.3s ease-in 0s;
	text-decoration:none;
}
.nav-area li .sub-menu li a {
    color:var(--white);
    background: hsl(280, 5%, 11%) none repeat scroll 0 0;
    border: 0 none;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 0;
    padding: 5px 40px 5px 20px;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
    white-space: nowrap;
	text-decoration: none !important;
}
.nav-area li .sub-menu {
    display: none;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: absolute;
	border-bottom:2px solid #c49e60;
}

/* ==================================================== */
/* 04.Banner Content Styles                             */
/* ==================================================== */

.banner-sec {
	width: 100%;
	background:#1c1a1d;
}
.bg-banner-full {
	background-size:cover;
}
.slider_one {
	background:url(../img/banner-img1.jpg) no-repeat fixed;
	background-size:cover;
}
.slider_two {
	background:url(../img/banner-img2.jpg) no-repeat fixed;
	background-size:cover;
}
.slider_three {
	background:url(../img/banner-img3.jpg) no-repeat fixed;
	background-size:cover;
}

.balck-solid {
    margin: 0;
    padding: 0;
    width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	background: rgba(0, 0, 0, 0.6);
	color: rgba(0, 0, 0, 0.6);
}
.banner-sec .flexslider img {
    width: 100%;
}
.banner-sec .flexslider li {
	position:relative;
}
.banner-sec .flexslider li h1 span {
	margin: 0 0 0 0;
	color: var(--primary);
	font-weight:400;
	line-height:45px;
	text-transform: capitalize;
	display:block;
    font-size: 110px;

}
.banner-sec .flexslider li h1 {
	font-weight: 800;
    font-size:50px;
	text-transform: uppercase;
	margin: 0;
	letter-spacing: -2px;
}
.banner-sec .flexslider li h5 {
	color:var(--white);
	font-size: 18px;
    font-weight: 400;
    letter-spacing:4px;
    text-transform: uppercase;
	word-spacing:25px;
}
.hr-outtr-line i {
    font-size: 18px;
    padding: 10px;
    vertical-align: super;
	color:var(--primary);
}
.banner-sec .flex-active-slide li .banner-mid-text {
	position:absolute;
}
.banner-mid-text {
	margin: 0 auto;
    text-align: center;
    width: 100%;
	padding: 350px 0 300px;
}
.para-width {
	margin: 0 auto;
	width: 60%;
}
/*****************flex-slider*************************/

.flexslider {
	position: relative;
}
.flex-control-paging li a.flex-active {
    background:var(--primary);
}
.flex-control-paging li a {
    background:var(--primaryTransparent);
    border-radius: 20px;
    cursor: pointer;
    display: block;
    height:30px;
    text-indent: -9999px;
    width:30px;
}
.flex-control-nav li {
	display: inline-block;
	margin: 0 5px;
}
.flex-direction-nav a {
	color: hsla(0, 0%, 0%, 0.8);
	cursor: pointer;
	display: block;
	height: 50px;
	margin: 0;
	opacity: 1;
	overflow: hidden;
	position: absolute;
	text-decoration: none;
	text-shadow: 1px 1px 0 hsla(0, 0%, 100%, 0.3);
	top:200px;
	transition: all 0.3s ease-in-out 0s;
	width: 50px;
	z-index: 10;
}
.flex-direction-nav a::before {
	background: hsla(0, 0%, 0%, 0);
	background-size: cover;
	content: "";
	display: inline-block;
	height: 50px;
	width: 50px;
}
.flex-direction-nav a.flex-next::before {
	background: hsla(0, 0%, 0%, 0) ;
	background-size: cover;
	content: "";
	display: inline-block;
	height: 50px;
	width: 50px;
}
.flex-direction-nav .flex-next {
	right:0;
	text-align: right;
}
.flex-direction-nav .flex-prev {
    left:0;
}
#banner-slider .flex-control-paging {
    bottom:60px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 5;
}
.banner-mid-text .hr-outtr-line {
    margin: 0;
}
.banner-mid-text .hr-outtr-line hr {
    width:235px;
}


/* ==================================================== */
/* 05. Our Story Content Styles                          */
/* ==================================================== */

.story-area {
	padding: 100px 0;
    text-align: center;
	background: var(--white);
}
.story-left img {
    width: 100%;
	max-width: 625px;
}
.story-our-text {
	padding-top: 25px;
}
.hr-outtr-line {
    margin-bottom: 30px;
}
.story-our-text > h2 {
    margin: 0;
	letter-spacing: -2px;
}
.story-our-text > a {
	border:2px solid var(--primary);
	padding: 5px 10px;
    font-size:16px;
    text-transform: uppercase;
	color:var(--primary);

}


/* ==================================================== */
/* 06. Parallax-01 Content Styles                         */
/* ==================================================== */
.balck-solid-paralax {
    margin: 0;
    padding: 0;
    width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	background: rgba(0, 0, 0, 0.7);
	color: rgba(0, 0, 0, 0.7);
	position:absolute;
	top:0;
	height:100%;
}
.parallax-action {
	padding:235px 0 230px;
	text-align: center;
	background:url(../../../../uploads/homepage/homePageImage2.jpg) no-repeat;
	background-size:cover;
	position:relative;
	background-attachment:fixed;
}
.parallax-content-sec {
    position: relative;
    z-index: 8;
}
.parallax-content-sec h1 {
    line-height: 70px;
    margin-bottom: 0;
}
.parallax-content-sec > p {
	font-size: 16px;
	line-height: 28px;
	color: #333333;
}

/* ==================================================== */
/* 06. Parallax-02 Content Styles                         */
/* ==================================================== */

.parallax-action-two {
	padding:235px 0 230px;
	text-align: center;
	background:url(../../../../uploads/homepage/homePageImage3.jpg) no-repeat;
	background-size:cover;
	position:relative;
	background-attachment:fixed;
}

/* ==================================================== */
/* 07. community Content Styles                         */
/* ==================================================== */

.menu-area {
	background:var(--white);
	padding:145px 0 125px;
	text-align:center;
}
.menu-content-mid > p {
    padding:0 9%;
}
.menu-items-box {
	text-decoration:none !important;
    padding:45px 0;
}
.menu-items-box a {
	text-decoration:none !important;
	overflow: hidden;
	letter-spacing:normal;
}
.menu-items-box strong {
	color: hsl(0, 0%, 0%);

    font-size: 24px;
    font-weight: 400;
    margin: 0 0 10px;
    padding: 0;
    text-transform: capitalize;
}
.menu-items {
    margin-bottom:30px;
}
.img-hme {
    display: block;
}
.overlay-sec {
	display:table-cell;
	cursor: pointer;
    height:100%;
    background:var(--primaryTransparent);
    transition: all 0.3s ease 0s;
	opacity:0;
    position: absolute;
    top: 0;
    width:100%;
	left:0;
}
.menu-items-box a:hover .overlay-sec {
    opacity: 1;
}
.menu-items figure {
    position: relative;
}
.overlay-outr {
    position: relative;
    margin-bottom: 15px;
}

/* ==================================================== */
/* 08. Speak with Us NOW Styles                        */
/* ==================================================== */

.subscribe-area {
	padding: 65px 0;
	background: var(--primary);
	position: relative;
}
.subscribe-right {
	float: right;
}
.subscribe-left img {
    position: absolute;
    top: -132px;
}
.subscribe-newsletr h4 {
    color:var(--white);
    display: inline-block;
	margin:0;
	vertical-align: text-bottom;
}
.subscribe-newsletr input {
    background:var(--white);
    border: medium none;
    border-radius: 5px;
    color:#121013;
    font-size: 14px;
    height: 50px;
    margin: 0 10px 0 30px;
    padding: 15px 20px;
    width: 340px;

	vertical-align: super;
}
.subscribe-newsletr button {

    background:#000;
    border: medium none;
    border-radius: 5px;
    color:var(--white);
    font-size: 18px;
    height: 50px;
    padding: 14px 20px;
    width:155px;
	text-transform:uppercase;
	vertical-align:top;
}

/* ==================================================== */
/* 09. Footer Black Styles                              */
/* ==================================================== */

.footer-black {
	padding:90px 0;
	background:#121013;
}
.three-itm-btm p {

    color: hsl(0, 0%, 60%);
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    text-align: left;
	margin-right:35px;
	margin-bottom: 10px;
}
.three-itm-btm span {
    display: block;
}
.ftr-black-left h6 {
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 2px;
    margin: 0;
}
.ftr-black-left hr {
    width:150px;
}
.ftr-black-rgt .three-itm-btm > p {
    margin-right: 20px;
	margin-bottom: 10px;
}
.ftr-black-rgt h6 {
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 2px;
    margin: 0;
}


/* ==================================================== */
/* 10. Footer Main Styles                               */
/* ==================================================== */

footer {
    text-align: center;
}
.footer-area {
	padding:70px 0;
	background:#1c1a1d;
}
.footer-area p {

	font-size:13px;
	color:#666666;
	margin-bottom:0;
}
.footer-area a {
	font-size: 13px;
    letter-spacing: normal;
    text-decoration: none !important;
    text-transform: capitalize;
	color:#666666;
}
.social-icons {
    margin:0 0 30px 0;
    padding: 0;
}
.social-icons  ul {
    list-style: outside none none;
    margin: 0;
    padding: 0 0 0;
}
.social-icons  ul li {
    display: inline-table;
    margin: 0;
    padding:0 5px;
}
.social-icons  ul li a {
    background:#333134;
    border-radius: 50%;
    color:#1c1a1d;
    display: block;
    font-size:24px;
    height:50px;
    margin: 0;
    padding:12px 0 0 0;
    text-align: center;
    text-decoration: none;
    width:50px;
}
.social-icons  ul li a:hover {
    background:#777677;
    color: #1c1a1d;
    text-decoration: none;
}

/*****************slidebar*********************/

.togg-navi {
    display: none;
}

.togg-navi-account{
    display:none;
}
.first-field.error, .second-field.error, .third-field.error, .forth-field.error {
    border-bottom: 1px solid hsl(0, 100%, 50%);
}


/****************************************************************************************************/
/*                            Contact internal page Styles
/****************************************************************************************************/

/* ==================================================== */
/*           11. Contact banner Styles                    */
/* ==================================================== */

.internal-banner {
    background-attachment: fixed;
    text-align: center;
}
.internal-header {
    padding: 225px 0 165px;
}
.internal-header h2 {
    color:var(--white);
    font-size: 72px;
	line-height: 65px;
    margin-bottom: 0;
}
.internal-header .hr-outtr-line hr {
    width: 155px;
}
.contact-area {
	padding:120px 0 215px 0;
	text-align:center;
}
.contact-middle-area {
    margin-bottom:70px;
}

.contact-middle-area > p {
    line-height: 30px;
    padding:0 10%;
	font-size:16px;
}

/* ==================================================== */
/*   12. Contact-Map & Form Content Styles                 */
/* ==================================================== */

#map {
	height: 370px;
    width: 100%;
}
.quick-contact-box-left {
    float: left;
}
.quick-contact-box-right {
    /*background:#eeeeee;*/
    display: block;
    float: right;
    padding: 10px;
    width: 50%;
}
.contact-form-details li {
    display: list-item;
    margin-bottom: 20px;
}
.contact-form-details li input {

	border:none;
	background:#eeeeee;
	height:60px;
	padding:0 25px;
	font-size:14px;
	width:555px;
    color: #666666;
    font-size: 16px;
}
.contact-form-details li:nth-child(5n+3) ,.contact-form-details li:nth-child(5n+4) {
    margin-right: 0;
}
.contact-form-details li textarea {

	border:none;
	padding-top: 25px;
	background:#eeeeee;
	height:150px;
	padding-left:25px;
    color: #666666;
    font-size: 16px;
	width:100%;
}
button.submit {
	background:var(--primary);
    color: hsl(0, 0%, 100%);
    display: block;

    font-size: 18px;
    font-weight:400;
    height:60px;
    margin: 0 auto;
    padding-left:15px;
    padding-top: 3px;
    text-align: center;
    vertical-align: middle;
    width:100%;
	border:none;
	letter-spacing:2px;
	text-transform:uppercase;
}
button.submit:hover {
	background: var(--primary);
	transition: all 0.5s ease 0s;
	color:var(--white);
}

/**************error-style************************/

.quick-contact-box-left div {
    color:#ff0000;

    font-size: 14px;
}





/* ==================================================== */
/*   13. Contact-adresss  Content Styles                   */
/* ==================================================== */

.contact-list {
	margin:105px 0 0 0;
	padding:0;
}
.contact-list ul {
	list-style:none;
}
.contact-list li {
	text-align:center;
}
.contact-list li i {
	font-size:48px;
	color:var(--primary);
	margin-bottom:16px;
}
.contact-list li h5 {

	font-size:18px;
	color:#333333;
	text-transform:capitalize;
	font-weight:400;
	margin-bottom:22px;
	margin-bottom: 20px;
}
.contact-list li h6 {
	margin-bottom:15px;
	font-size:14px;
	font-weight:300;

	text-transform:capitalize;
	color:#333333;
}
.contact-list li a {
	font-weight:600;
	color:var(--primary);
	font-size:14px;

	display:block;
	letter-spacing:normal;
	text-transform:capitalize;
	text-decoration:none !important;
}

/****************************************************************************************************/
/*                            About internal page Styles
/****************************************************************************************************/

/* ==================================================== */
/*   14. About internal page Styles                     */
/* ==================================================== */

.about-story-area {
	padding:135px 0 100px 0;
	text-align:center;
}
.abut-stry-mid {
    margin-top: 55px;
    text-align: left;
}
.features-more-area {
    padding-bottom: 165px;
    text-align: center;
}
.features-more-mid {
    padding-top: 70px;
}
.features-more-area p {
    padding: 0 9%;
}
.fture-mre-listitem p {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}
.fture-mre-listitem {
	margin-bottom:90px;
}
.fture-mre-listitem i {
	margin-bottom:25px;
	font-size:60px;
	color:#c49e60;
}
.fture-mre-listitem h4 {
	margin-bottom:10px;
	font-size:20px;
	color:#c49e60;
	text-transform:none;
	font-weight:800;
}
.abut-story-left img {
    width: 100%;
}

/****************************************************************************************************/
/*                            Event internal page Styles
/****************************************************************************************************/

/* ==================================================== */
/*   15. Event internal page Styles                     */
/* ==================================================== */

.event-page-all-sec {
    margin-top: 70px;
}
.event-page-all-sec .blog-box-rgt h5 {
    color: hsl(37, 46%, 57%);

    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 15px;
}
.event-page-all-sec .blog-box-rgt p {
    color: hsl(0, 0%, 40%);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
	padding: 0;
}
.event-page-all-sec .blog-box-rgt span {
    font-size: 17px;

}
.event-page-all-sec .blog-box-rgt {
    padding: 55px 50px;
}
.event-page-all-sec .blog-box-lft .yellow-solid {
    padding-top: 30%;
}
.event-page-all-sec .blog-left-sec:nth-child(2n+2) .blog-box-lft {
    float: right!important;
}
.event-page-all-sec .blog-left-sec {
    margin-bottom:0;
}
.event-page-outr-sec {
    padding: 110px 0 220px;
    text-align: center;
}
.event-page-outr-sec p {
    padding: 0 10%;
}
.event-page-all-sec .blog-box-rgt a {
    font-size: 16px;
}

/****************************************************************************************************/
/*                            Our Menu internal page Styles
/****************************************************************************************************/

/* ==================================================== */
/*   16. Our Menu internal page Styles                  */
/* ==================================================== */

.our-top-sec {
	padding:125px 0 30px 0;
}
.our-menu-bg {
    padding-bottom: 115px;
	background:url(../img/01_Menu.jpg) no-repeat;
	background-size:100%;
}
.our-menu-details {
    margin-bottom: 60px;
}
.our-menu-details h4 {

    text-align: center;
	font-size:30px;
	color:#999999;
	margin-bottom:60px;
}
.or-lft-menu h5 {

    display: inline-block;
    font-size: 20px;
    font-weight: 400;
    padding-right:5px;
    vertical-align: super;
	width:100%;
/*	background:url(../img/dashed.png) repeat-x;*/
	background-position:center;
	margin-bottom: 10px;
	border-bottom: 1px dashed #2e2e2e;
}
.or-lft-menu span {
    padding-right: 10px;
    text-align: right;
    float: right;
}
.our-menu-one {
    display: inline-block;
    padding-right: 55px;
    width: 50%;
	margin-bottom: 30px;
}
.our-menu-one:nth-last-child(2n+2) {
    float: right;
    padding-left: 55px;
    padding-right: 0;
}
.or-rgt-menu h1 {
	background: var(--primary);
    font-size: 12px;
    font-weight: 400;
    color: var(--white);

    padding: 5px;
    border-radius: 3px;
    text-transform: capitalize;
    float: left;
    margin: 0px 4px 0px 0px;
    width: 100px;
}
.or-rgt-menu h2{
	background: #2e2e2e;
    font-size: 16px;
    font-weight: 400;
    color: var(--white);

    padding: 3px 0px;
    border-radius: 3px;
    text-transform: capitalize;
    width: 16%;
    text-align: center;
    float: left;

}
.or-lft-menu {
    float: left;
	/*width: 70%;*/
}
.or-rgt-menu span {
    font-size: 36px;
}
.or-rgt-menu {
    float: right;
    /*width: 22%;*/
}
.or-lft-menu p {
    font-size: 14px;
    line-height: 24px;
}
.parallax-action h2 {
    margin: 0;
}
.parallax-action-two h2 {
    margin: 0;
}
/* ===== Scroll to Top ==== */

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	z-index:99999;
}
#return-to-top i {
    color: hsl(0, 0%, 100%);
    font-size: 19px;
    left: 16px;
    margin: 0;
    position: relative;
    text-decoration: none;
    top: 15px;
    visibility: visible;
    z-index: 999;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: var(--white);
}

/* ==================================================== */
/* 17. Media Query                                      */
/* ==================================================== */

@media (max-width: 1200px) { /* This media query is written for 1400PX resolution devices */

.menu-items img {
    width: 100%;
}
.three-itm-btm p {
    margin-right: 12px;
}
.three-itm-btm span {
    display: inline;
}
.quick-contact-box-left {
    width: 48%;
}
.contact-form-details li input {
    width: 100%;
}
.quick-contact-box-right {
    width: 49%;
}
.overlay-sec {
    height: 100%;
    width: 100%;
}

}
 @media (max-width: 1100px) { /* This media query is written for 1100PX resolution devices */

.contact-list li {
    margin-bottom: 20px;
}
.blog-left-sec {
    width: 100%;
	float:left;
}
.blog-right-sec {
    width: 100%;
	float:left;
}
.yellow-solid {
    padding-top: 40%;
}
/***************row*****************/
.parallax-action .row {
    margin: 0;
}
.menu-area .row {
    margin: 0;
}
.chef-outr-sec .row {
    margin: 0;
}
.blog-outr-sec .row {
    margin: 0;
}
.footer-area .row {
    margin: 0;
}
.features-more-area .row {
    margin: 0;
}
.resrvation-top-area .row {
    margin: 0;
}
.reservation-more-area .row {
    margin: 0;
}
.our-menu-bg .row {
    margin: 0;
}
.subscribe-right {
    width: 88%;
}
.contact-middle-area > p {
    padding: 0 15px;
}
/********************************/

}
 @media (max-width: 991px) { /* This media query is written for Ipad and tablets */

.three-itm-btm p {
    display: block;
}
.resrvation-top-area p {
    padding: 0;
}
.abut-story-left {
	margin-bottom:30px;
}
.event-page-all-sec .blog-box-lft {
    width: 100%;
}
.event-page-all-sec .blog-box-rgt {
    width: 100%;
}
.event-page-all-sec .blog-box-rgt {
    padding: 55px 30px;
}
.reservation-more-area-last .resrve-sections {
    margin-bottom: 50px;
}
.reserve-select-outr li {
    margin-bottom: 20px;
}
.resrve-sections {
    padding-right: 0;
}

}
@media (min-width: 767px) { /* This media query is written for Mobile only */
    .menu-account{
        display: none !important;
    }
    .menu-main{
        display: block !important;
    }

}
 @media (max-width: 768px) { /* This media query is written for Mobile landscape and Ipad and tablets portrait */
    /* .login-big-screen{
        display: none !important;
    } */
.chef-left-sec h4 {
    font-size: 32px;
}
.or-lft-menu h5{
	background-position: bottom;
}
.or-rgt-menu {
    /*width: 27%;*/
}
.or-rgt-menu h1 {
    font-size: 14px;
}
.our-menu-one {
    padding-right: 0;
}
.or-lft-menu {
    width: 65%;
}
.our-menu-one:nth-last-child(2n+2) {
    padding-left: 20px;
}
.subscribe-right {
    width: 98%;
}
.our-menu-bg {
    background:  none;
}
.addTo-cart{
	font-size: 12px !important;
}

}
 @media (max-width: 767px) { /* This media query is written for Mobile only */

 .resrve-sections {
    text-align: center;
}
.header-area.navbar-fixed-top {
    background:#000;
}
.header-area {
    background:#000;
}
.story-area.reserve {
    padding: 135px 0;
}
.menu-content-mid p {
    padding: 0 0%;
}
.features-more-area p {
    padding: 0;
}
.features-more-area {
    padding-bottom: 45px;
}
.event-page-outr-sec p {
    padding:0 2%;
}
.blog-page-outr-sec p {
    padding: 0 2%;
}
.logo-sec {
    padding: 0;
}

/*****************toggle-style***********************/

.nav-area li .sub-menu {
    display: block;
}
.logo-sec {
	width: 100%;
    float: left;
    margin: 0 auto;
    text-align: center;
}
.header-right-sec {
    float: none;
    text-align: center;
	padding:0;
}
.togg-navi {
    display: block;
}
.togg-navi-account {
    display: block;
}
.togg-text-menu {
    background:none;
    float: left;
    font-size: 30px;
    margin: 0 auto;
    padding:12px 0 8px 10px ;
    text-align: left;
    width: 100%;
	color:var(--primary);
}
.menu-main {
    display: none;
}
.menu-account{
    display: none;
}
.nav-area ul {
    background: hsla(0, 0%, 0%, 0.4) none repeat scroll 0 0;
    padding-top:65px;
	padding-bottom: 30px;
}
.nav-area li {
    display: list-item;
    padding: 5px 0;
}
.header-area {
    padding:15px 0 25px;
}

/***************header-fixsed*******************/

.header-area {
    position: static;
}
.header-area.navbar-fixed-top {
    position: static;
}
.header-area.navbar-fixed-top .logo-sec img {
    height: 45px;
}
.logo-sec img {
    height: 45px;
    margin-top: 5px;
}
.header-area.navbar-fixed-top .call-today {
    display: block;
}
.header-area.navbar-fixed-top .header-right-sec {
    margin: 0;
}
.togg-text-menu i {
    cursor: pointer;
}
.nav-area li .sub-menu {
    position: static;
}
.nav-area li .sub-menu li a {
    background: hsla(0, 0%, 0%, 0) none repeat scroll 0 0;
    text-align: center;
	padding: 6px 0;
}
.nav-area li a, .sidebar-nav li a {
	font-size:14px;
}

/**************************************/

.subscribe-newsletr h4 {
    display: block;
    padding-bottom: 20px;
    text-align: center;
}
.subscribe-right {
    float: none;
    margin: 0 auto;
    width: 75%;
}
.banner-mid-text {
    padding: 230px 0 200px;
}
.banner-sec .flexslider li h1 {
    font-size: 52px;
	}

.banner-sec .flexslider li h3 {
    font-size: 120px;
}
.menu-items-box a {
    padding: 0;
}
.menu-items img {
    width: 100%;
}
.subscribe-right {
    width: 100%;
}
.chef-left-sec {
    float: none;
    padding-top: 110px;
    text-align: center;
}
.chef-right-sec {
    float: none;
    padding-top: 40px;
    text-align: center;
    width: 100%;
}
.chef-mid-sec {
    position: static;
}

/**********************/

.quick-contact-box-left {
    float: none;
    width: 100%;
	margin-bottom:40px;
}
.quick-contact-box-right {
    width: 100%;
}
.internal-header h2 {
    font-size: 62px;
}

.reservation-more-area.reservation-more-area-last {
    margin-bottom: 150px;
}
/*********************************/

.resrve-sections img {
    width: 100%;
}
.our-menu-one {
    display: block;
    float: none;
    margin: 0 auto 30px;
    width:82%;
}
.our-menu-one:nth-last-child(2n+2) {
    float: none;
    padding-left: 0;
}
.reservation-more-area-last {
    margin-bottom: 60px;
}
.logo {
    float: left;
    padding-left: 15px;
}
.togg-navi {
    float: right;
    padding-right: 15px;
}
.togg-navi-account {
    float: right;
    padding-top: 5px;
}
.banner-sec .flexslider li h5 {
    font-size: 14px;
	word-spacing: 10px;
}
.reservation-more-area {
    margin: 0 0 80px;
}
.tab-container .our-menu-one {
    text-align: center;
}
.or-lft-menu {
    width:100%;
}
.or-rgt-menu {
    float: none;
}
.tab-container .our-menu-one {
    background: hsla(0, 0%, 0%, 0) url("../img/dashed.png") repeat-x scroll center bottom;
    padding-bottom:20px;
}
.or-lft-menu h5 {
	background:none;
}
.blog-box-rgt {
    text-align: center;
}
.three-itm-btm p {
    text-align: center;
}
.footer-black {
    text-align: center;
}
.internal-banner,.banner-sec,.slider_one,.slider_two,.slider_three,.bg-banner-full,.parallax-action,.parallax-action-two,.parallax-action-three {
    background-attachment: scroll !important;
    background-position: center center !important;
    background-size: cover !important;
    text-align: center !important;
}

 }
 @media (max-width: 480px) { /* This media query is written for Mobile only */


.banner-sec .flexslider li h1 span {
    font-size: 70px;
}
.contact-area {
    padding: 120px 0 175px;
}
.flex-direction-nav a {
    display: none;
}
.header-area {
    padding:16px 0 20px;
}
.subscribe-left img {
    top: -110px;
}

/*************************/

.subscribe-left img {
    width: 100%;
}
.subscribe-newsletr input {
    display: block;
    margin: 0 auto 15px;
    width: 95%;
}
.subscribe-newsletr button {
    display: block;
    margin: 0 auto;
}
.parallax-content-sec h1 {
    font-size: 37px;
    line-height: 60px;
}
h3 {
    font-size: 70px;
}
.banner-mid-text .hr-outtr-line hr {
    width: 30%;
}
.banner-mid-text {
    padding: 170px 0 160px;
}
.three-itm-btm p {
    margin-right: 0;
}
.story-our-text > h2 {
    font-size: 40px;
	letter-spacing: -2px;
}

.internal-header h2 {
    font-size: 42px;
}
.features-more-area p {
    padding: 0;
}
.or-lft-menu {
    /*width:100%;*/
    margin-top: 20px;
	background: #f9f0e0;
	padding: 10px 5px 0px;
}
.or-rgt-menu{
	width:100%;
}
.or-rgt-menu h1 {
    font-size: 14px;
    width: 100px;
    margin-top: 17px;
}
.or-rgt-menu h2{
	margin: 17px 7px;
	width: 8%;
}
.our-menu-one {
    width: 100%;
}
.banner-sec .flexslider li h1 {
    font-size: 44px;
}
h2 span {
    font-size: 56px;
}
.event-page-outr-sec {
    padding: 110px 0 180px;
}

}
 @media (max-width: 414px) { /* This media query is written for Mobile only */

 .reservation-more-area.reservation-more-area-last {
    margin-bottom: 120px;
}
.subscribe-left img {
    top: -90px;
}
.reserve-select-outr ul li form {
    width: 84%;
}
.reserve-select-outr ul li form input {
    width: 100%;
}
.reserve-select-outr ul li select {
    width: 84%;
}
.resrvation-top-area a.fint-table {
    width: 100%;
}
.or-rgt-menu span {
    font-size: 25px;
}

or-lft-menu {
    /*width:100%;*/
    margin-top: 20px;
	background: #f9f0e0;
	padding: 10px 5px 0px;
}
.or-rgt-menu{
	width:100%;
}
.or-rgt-menu h1 {
    font-size: 14px;
    width: 100px;
    margin-top: 17px;
}
.or-rgt-menu h2{
	margin: 17px 6px;
	width: 8%;
}
.our-menu-one {
    width: 100%;
}

/*.or-rgt-menu h1 {
    font-size: 35px;
}*/
.or-lft-menu p {
    margin-bottom: 15px;
}
.our-menu-bg {
    padding-bottom: 85px;
}

}
 @media (max-width: 380px) { /* This media query is written for Mobile only */

hr {
    width: 40%;
}
.banner-sec .flexslider li h1 {
    font-size: 35px;
}
.banner-sec .flexslider li h3 {
    font-size: 80px;
}
.story-our-text > h2 {
    font-size: 35px;
	letter-spacing: -2px;
}
h2 {
    font-size: 35px;
}
.reserve-select-outr ul li span {
    padding-right: 9px;
}
.banner-sec .flexslider li h5 {
    font-size: 11px;
    word-spacing: 0;
}
.togg-text-menu {
    padding: 13px 0 8px 10px;
}
.subscribe-left img {
    top: -82px;
}
.reservation-more-area.reservation-more-area-last {
    margin-bottom: 90px;
}
.contact-area {
    padding: 120px 0;
}
.blog-main-details {
    padding: 110px 0 160px;
}

}
 @media (max-width: 320px) { /* This media query is written for Mobile only */

.subscribe-left img {
    top: -68px;
}
.our-menu-bg {
    padding-bottom: 55px;
}
}
/*======================== Custom Css ==================== */

.no-pad{
	padding: 0px !important;
}
.bg-grey{
	background: rgba(236, 115, 87, 0.9);
    padding: 9px;
}
.menu-list h5{
	background: #000;
	font-size: 14px;
    margin-bottom: 6px;
    border-bottom: 1px solid #b79050;
    padding:5px 14px 7px 7px;
    color: var(--white);

}
.menu-list ul li{
	padding: 1px 7px;
    color: var(--white);
    font-size: 12px;
    border-bottom: 1px solid #d36147;
    font-weight: bold;
}
.white{
	color: var(--white) !important;
}
.theme-color{
	color:#ad823c;
}
.list-pad{
	padding: 25px 7px 1px 7px !important;
}
.bigTotal{
	font-size: 20px;
}
.addTo-cart{
	background: #000;
	color: var(--white);
	font-size: 20px;
	border-radius:0px !important;
}
.addTo-cart:hover{
	color:#ad823c !important;
}
.modal-header h4{
	margin-bottom: 0px !important;
}
.marginBtn{
	margin-bottom: 20px;
}
.modal-footer{
	border-top:none;
}
.submit-btn{
	margin: 20px 0;
	background: var(--primary);
	font-size: 17px !important;
	color: var(--white);
	font-weight:500 !important;
	border-radius: 25px;
	padding: 12px 20px !important;
	text-transform: uppercase;

}
.swal2-spacer{
	display: none !important;
}
.swal2-content{
	font-size: 16px !important;
	margin-bottom: 25px !important;
}



.col-xs-12.col-sm-2.col-lg-2.bg-grey.menu-list.no-pad {
    direction: rtl;
}

@media (max-width: 376px){
    .or-rgt-menu.col-xs-12.col-sm-3 {
        display: flow-root;
    }
}







/* my styles by @aliwi299 */
.show {
    opacity: 1;
}
h2 span, .hr-outtr-line i, .story-our-text > a, a, a:hover, a:active, a:visited, a:link, .nav-area li.active, .nav-area li:hover a, .nav-area li.active a {
    color: var(--primary) !important;

}
hr {
    background: var(--primary) !important;
}
.social-icons ul li a {
    background: #333134;
    border-radius: 50%;
    color: var(--primary) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    height: 50px;
    margin: 0;
    padding:  0;
    text-align: center;
    text-decoration: none;
    width: 50px;
}
.submit-btn {
    margin: 20px 0;
    background: var(--primary) !important;
    font-size: 17px !important;
    color: var(--white) !important;
    font-weight: 500 !important;
    border-radius: 25px;
    padding: 12px 20px !important;
    text-transform: uppercase;

}
.scroll-h{
    max-height : 190px;
}
@media (max-width: 991.98px) {
    .scroll-h{
    max-height : 280px;
}
}
hr, .subscribe-area{
    background-color: var(--primary) !important;
}
.subscribe-newsletr button {

    background: var(--secondary);
    border: medium none;
    border-radius: 5px;
    color:var(--white);
    font-size: 18px;
    height: 50px;
    padding: 14px 20px;

    text-transform: uppercase;
    vertical-align: top;
}
.order-summary-widget {

       position: fixed;
       width: 50%;
       margin:auto;
       bottom: 0;
      left:0;
      right: 0;
       z-index: 100;

   }
@media (max-width: 1199.98px)  {
    .simplebar-scrollbar.simplebar-visible:before {
        opacity: 0.5;
        transition: opacity 0s linear;
        width: 5px;
        margin-left: 3px;
        background-color : var(--black);
        }
    .order-summary-widget {

        position: fixed;
        width: 90%;
        margin:auto;
        bottom: 15px;
        left:0;
        right: 0;
        z-index: 100;

    }

    .order-summary-widget h5 {
        border-radius: 5px 5px 0 0;


    }

    .return-to-top {
        display:none!important;

    }
}

.internal-header {
    Padding: 0;
    padding-top: 100px;
    padding-bottom: 10px;
}
@media (max-width: 767.98px) {
.internal-header {

    padding-top: 20px;

}

}

.menu-item-block {
    margin-bottom: 0px;
    text-align: center;
    padding : 20px 0;
}

.menu-item-block .image {
    display: block;
    width:170px;
    height:170px;
    object-fit:cover;
    margin: auto;
    box-sizing: border-box;
    margin-bottom: 15px;
    border-radius: 50%;
    border:3px solid var(--primary);
}
@media (max-width: 767.98px) {
.menu-item-block {
    margin-bottom: 30px;
    text-align: center;

    padding:0;
}

.menu-item-block .image {

    width:150px;
    height:150px;

}

}

.menu-item-block h5 {
    font-size:1rem;
    margin-bottom: 5px;
    color:var(--primary);
}

.menu-item-block p {
    font-size:12px;
    color:#2b2b2b;
    margin-bottom: 10px;
}

.menu-item-block .price-controler {

    margin: 0 5px;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item-block .price-controler::after {
    content: '';
    display: block;
    clear: both;
}

/*my added codes by Aliwi ////////////// 26/10/2020*/
.my-add-to-cart {
    display :flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    background: var(--secondary);
    width: 80%;
    height: 40px;
    border-radius: 3px;
    transition: 0.5s ease all;
}

.my-add-to-cart h1 {
        direction: rtl;
        line-height: 21px;


    font-size: 14px;

    color: var(--white);

    border-radius: 3px;

    text-transform: capitalize;

    margin: 0px 0px 0px 0px;
    font-weight: bold;

    width: 100%;
       font-weight: 600;
}

.my-add-to-cart h2 {
    transition: 0.5s ease all;
    font-weight: bold;
    color: var(--white);
    background: var(--primary);

    margin: 0;
    height: 100%;
    width: 60px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .my-add-to-cart:hover{
        background: var(--secondaryHover);
}
    .my-add-to-cart:hover h2{

        background: var(--primaryHover);

}
.my-add-to-cart:hover h2 span{

    color: var(--secondaryHover) !important;
}



@media (max-width: 767.98px) {

.my-add-to-cart {

    width: 100%;
    height: 50px;

}
.my-add-to-cart h1 {
    line-height: 17px;
    padding:0 10px;
    font-size: 12px;


}
.my-add-to-cart h2 {

        /*width: 100%;*/
    font-size: 40px !important;
}
.f-40{
font-size: 40px !important;
margin-bottom: 5px;

}


}
.menu-list{
    background-color: var(--primary);
    border-radius: 15px;
    overflow: hidden;

    border: 1px black solid;
}
.menu-list h5 {
    background-color: var(--secondary);
    border-radius: 15px;
    border-bottom: none;
    padding: 10px;
    color: var(--white) !important;
    text-align: right;
}

.menu-list ul li {

    border-bottom: 1px solid black;
    color: var(--primary);
    width: 100%;
    clear: both;
    text-align: right;

}

.menu-list ul {
    background-color: var(--white);
}
.bg-grey{
    background-color: var(--secondary);
}
.orange{
    color: var(--white) !important;
}
.orangeHover{
    color: var(--white) !important;

    font-weight: bold;
}
.orangeHover:hover{
color: var(--primary)  !important;
}
.bg-orange{
background:  var(--secondary) !important;
}
.my-p-t{
padding: 50px 0 0 0
}
.my-icons{
color: var(--primary)  !important;

font-size: 18px;

}
@media (max-width: 991.98px) {


.my-icons{

font-size: 24px;

}
}
.my-title{
font-size: 30px;
}
.foodName{
font-size:28px;
font-weight:600 ;

}
@media (max-width: 991.98px) {

.foodName{
font-size:20px;
}
}
.my-add-to-cart h2 span{
color: var(--secondary) !important;
font-weight:bold ;
}
.mb-0{
margin-bottom:0;
}
.d-none  {
display: none !important;
}
.d-block {
display: block !important;
}
.f-30{
font-size:30px !important;
}
.adding-icon:hover{
transform:scale(1.08);
background : var(--primaryHover) !important;
}
.black-color li{
color: var(--black) !important;
font-weight : bold !important;
}
.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:10px !important;
}
.rtl-inputs{
direction: rtl;
display: flex;
}
@media (max-width: 767.98px) {
.rtl-inputs{
flex-direction: column;
}}
.w-100{
width: 100%;
}
.flex-column{
display: flex;
flex-direction: column;
}
.long_h{
height : 450px;
}
.normal_h{
height : 410px;
}
@media (max-width: 767.98px) {
.long_h{
height : 370px;
}
.normal_h{
height : 350px;
}

}
/*menu cat styles*/


.cat__fixed__menu {

/*position: fixed;*/
width: 100%;
/*top: 90px;*/
background: linear-gradient(rgba(245, 245, 249, 0.4) 98%, rgba(245, 245, 249, 0));
z-index: 5;
margin-bottom:20px;

}
.catFixed{

position: fixed;
width: 100%;
top: 80px;
}
.mt-190{
margin-top : 165px;
}
@media (max-width: 767.98px) {
.catFixed{


top: 0;
}
.mt-190 {
margin-top: 34px;
}
}


.cat__conatiner {
width: 100%;
padding: 10px;
display: flex;
flex-wrap: nowrap;
-webkit-box-pack: start;
justify-content: center;
overflow-x: scroll;
position: relative;
height: auto;
min-height: 96px;
transition: height 0.3s ease;
direction: rtl;
}


.h-96 {
height: 96px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.cat__conatiner::-webkit-scrollbar {
display: none;
}

.cat__conatiner {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    justify-content: center;
    overflow-x: scroll;
    position: relative;
    height: auto;
    min-height: 96px;
    transition: height 0.3s ease;
}
@media (max-width: 991.98px) {

.cat__conatiner {

justify-content: start;

}

}
.h-96 {
    height: 96px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.cat__conatiner::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cat__conatiner {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    position: relative;
}

.arrow__container {
    position: relative;
}



.leftArrow,
.rightArrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 99;
    width: 30px;
    height: 30px;
    background: var(--primary);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: var(--mainTrans);
    cursor: pointer;
}

.animationTrans {
    animation: arrowAni infinite 1s ease;

}

@keyframes arrowAni {
    0% {
        transform: translate(0px, -50%) rotateZ(0.001deg);
        animation-timing-function: ease-in-out
    }

    50% {
        transform: translate(12px, -50%) rotateZ(0.001deg);
        animation-timing-function: ease-in-out
    }

    100% {
        transform: translate(0px, -50%) rotateZ(0.001deg);
        animation-timing-function: ease-in-out
    }
}

.leftArrow:hover,
.rightArrow:hover {
    background: var(--secondary);
}

.leftArrow {
    left: -20px;
}

.rightArrow {
    right: -20px;
}

.leftArrow i,
.rightArrow i {
    font-size: 20px;
}

@media (max-width: 767.98px) {
    .leftArrow {
        left: 0px;
    }

    .rightArrow {
        right: 0px;
    }
}

.cat__item {
    background-color: var(--white);
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 10px;
    padding: 8px;
    border-radius: 500px;
    margin: 0px 5px;
    text-align: center;
    width: 76px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
    overflow: hidden;
    min-width: 76px;
    min-height: 76px;
    position: relative;
    transition: var(--mainTrans);
}

.cat__item.active {
    background-color: var(--secondary);
}

.cat__item.active .cat__name {
    color: var(--white);
}

.cat__item:hover {
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 15px;
}

.cat__icon {
width: 60px;
height: 60px;
background-color: rgb(245, 245, 249);
border: 1px solid rgb(178, 178, 178);
border-radius: 100%;
padding: 10px;
position: relative;
overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cat__icon i{
        color: var(--primary);
    font-size: 30px;
}

.cat__icon img {
    width: 100%;
}

.cat__name {
    font-weight: 600;
    padding: 15px 0px;
    font-size: 12px;
    color: var(--black);
}

.main-btn {
    background: var(--primary);
    padding: 10px 20px;
    color: var(--white) !important;
    font-weight: bold;

}
.main-btn:hover{
    background-color: var(--primaryHover);
}
.main-btn {
    background: var(--primary);
    padding: 10px 20px;
    color: var(--white) !important;
    font-weight: bold;
}
.main-btn:hover{
    background-color: var(--primaryHover);
}
.orange{
    color: var(--white) !important;
}

.btn-checkout{
    background : var(--secondary);
    border : none;
    font-family : var(--font-family);
}

.subscribe-newsletr button , .subscribe-newsletr input {
      font-family : var(--font-family);
}
.form-control{
       font-family : var(--font-family);
}
.btn {
      font-family : var(--font-family);
}
.subscribeNewsletter{
    background : var(--secondary) !important;
}

.subscribeNewsletter:hover{
       background : var(--secondaryHover) !important;
}

/*dddddddddddddddddd*/
/* swal design */
.swal2-button{
    background-color:var(--primary) !important;
    color: #fff !important;
    font-weight: 600;
    margin-bottom: 40px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swal2-field{
    display: block;
    font-weight: 600;
    height: 43px;
    padding: 0 12px;
    margin: 20px auto
}
.swal2-title{
    margin: 20px 0 40px 0;
    font-weight: 600;
    font-weight: 700;
    color: var(--primary);
}
.swal2-text{
    font-weight: 700;
    margin: 0;
    color: #8b8c9c;
}
.swal2-link{
    text-decoration: underline;
    font-weight: 700;
}
.swal2-orderStep4-title{
    margin-bottom:20px;
    justify-content: center;
}
.swal2-orderStep4-heading{
    margin-bottom: 30px;
    border-bottom: 2px solid var(--primary);
    width: fit-content;
}
.swal2-orderStep4-headingDiv{
    display: flex;
    justify-content: start;
    margin-right: 20px;
    direction: ltr;
}
.swal2-orderStep4-styleOption{
    margin: 10px !important;
}
.swal2-orderStep3-h4{
    margin: 20px 0 40px 0;
    font-weight: 600;
    font-weight: 700;
    color:var(--primary);
}
.swal2-orderStep3-p{
    font-weight: 700;
    margin: 0;
    color: #8b8c9c;
}
.swal2-orderStep3-label{
    color: #8b8c9c
}
.swal2-orderStep3-input{
    display: block;
    font-weight: 600;
}
.swal2-orderStep3-button{
    background-color:var(--primary) !important;
    color: #fff;
    font-weight: 600;
    margin-bottom: 40px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swal2-orderStep3-a{
    color: var(--primary) !important;
    font-weight: 600 !important;
    text-decoration: underline;
    font-weight: 700;
}
.swal2-myInformation-div{
    display:flex;
    flex-wrap: wrap;
    text-align: start;
    padding: 10px 0 10px 0;
}
.swal2-myInformation-div-right{
    padding-right: 5px !important;
    width: 50%;
}
.swal2-myInformation-div-left{
    padding-left: 5px !important;
    width: 50%;
}

.address-align{
    text-align: left;
}
